<h1 style="width: 300px"><%=label(@tel,@tel)%>来电</h1>

<button onclick="offhook();" class="btn btn-default">拒接来电</button><button autofocus="autofocus" onclick="onhook(<%= @tel %>);" class="btn btn-primary">接电话</button>
