<div id="top-header">
  <h2><%= @tel %>来电</h2>
</div>

<%= render 'form' %>

<% unless(@work_order.customer.id==nil) then %>
    <button type="button" class="btn btn-link btn-lg" data-toggle="modal" data-target="#myModal" id="testBtn">
      历史问题
    </button>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">历史工单记录</h4>
          </div>
          <div class="modal-body">
            工单信息在这里填充
            <a href="http://www.baidu.com">百度一下，你就知道</a>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
<% end %>






